.Menu {
  display: grid;

  text-align: center;
}

.Menu a {
  animation: bounce-text-reverse 350ms forwards ease-out;
  
  color: rgb(30, 30, 50);
  
  font-family: "Source Code Pro", monospace;
  font-weight: normal;
  font-size: 4vh;
  
  text-transform: uppercase;
  text-decoration: none;
  
  z-index: 101;
  
  padding: 2vh;
  
  transition: 200ms;
}

.Menu a:hover {
  animation: bounce-text 350ms forwards ease-out;

  font-weight: bold;
}

.Menu:hover a:not(:hover) {
  opacity: 0.2;
}

.black {

  background-color: black;

}