:root {
    --shift: 0;
    --x: 0;
    --y: 0;
}

.napoleonParallax {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(75, 70, 60);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

.container {
    display: flex;

    width: 50vw;
    height: 100vh;

    border: 2px solid rgb(55, 43, 20);

    cursor: move;
    
    background-image: url('./img/Napoleon\ crossing\ the\ alps\ background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 50vw 100vh;
    
    margin: 0 auto;
}

.parallax-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-wrap img {
    --shift-px: calc(var(--shift) * 1px);
    --size: 50vw;
    position: absolute;
    height: var(--size);
    width: var(--size);
    transform: translateX(calc((100vw - var(--x) * var(--shift-px)) / 90)) translateY(calc((100vh - var(--y) * var(--shift-px)) / 90));
}

/* Napoleon */
.parallax-wrap img:nth-child(1) {
    --shift: 8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
}

/* Capa */
.parallax-wrap img:nth-child(2) {
    --shift: 7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

/* Soldados */
.parallax-wrap img:nth-child(3) {
    --shift: 5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    bottom: -2vh;
}

/* Pedra 1 */
.parallax-wrap img:nth-child(4) {
    --shift: 8;
    --x: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    left: -1.1vw;
    bottom: -8.1vh
}

/* Pedra 2 */
.parallax-wrap img:nth-child(5) {
    --shift: 6;
    --x: 0; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    left: -1.1vw;
    bottom: -13vh;
}

