@keyframes curve {
    from { background-position: 0%;  }
    to   { background-position: 200%;}
}

.home {

    display: flex;
    
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background: rgb(10, 10, 20);

    width: 100vw;
    height: 100vh;

}

.home a, .home p {

    color: white;

    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;

    margin: 0;

    z-index: 6;


}

.home a {

    text-decoration: underline transparent;
    transition: 300ms;
    
}

.home a:hover {
    text-decoration-color: white;
}



.curves *{

    position: fixed;

    left: 0;
    bottom: 0;

    width: 200vw;
    height: 100vh;

    overflow: hidden;

    margin: 0;

}

.curve1 {

    animation: curve 30s infinite ease-in-out alternate-reverse;
    
    background: url(./waves1.svg);

    
    z-index: 5;
    
}

.curve2 {

    animation: curve 30s infinite ease-in-out alternate;

    background: url(./waves2.svg);

    z-index: 4;

}
    

.curve3 {

    animation: curve 40s infinite linear alternate-reverse;

    background: url(./waves3.svg);

    z-index: 3;


}

.curve4 {
    
    animation: curve 40s infinite linear ease-in-out alternate;

    background: url(./waves4.svg);

    z-index: 2;

}

.curve5 {

    animation: curve 50s infinite ease-in-out alternate-reverse;

    background: url(./waves5.svg);

    z-index: 1;

}

@media (orientation: portrait) {

    .home a, .home p {
        font-size: 2rem;
    }
    
}