@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300&display=swap');

html{height: 100%;}

body{

  display: grid;

  justify-content: center;
  align-content: center;

  background-color: white;

  font-family: 'Source Code Pro', monospace;

}

.App {

  display: grid;

  text-align: center;
  
}

.App div{

  margin: 1vh;
  padding: 1vh;

}

.App a {
  transition: 200ms ease-out;
  
  color: black;
  
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
  font-size: 4vh;

  text-decoration: none;
}

.App a:hover {
  
  transition: 200ms ease-out;

  font-size: 5vh;
  font-weight: bold;

}
