@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300&display=swap');


/* Animations */
@keyframes rotate {
  0%  { rotate:   0deg;}
  25% { border-radius: 15px; }
  50% { rotate: 180deg; }
  75% { border-radius: 8px; }
  100%{ rotate: 360deg;}
}
@keyframes zoom-hover {
  0%  { padding: 1vw; }
  40% { padding: 1.7vw; }
  100%{ padding: 1.5vw; }
}
@keyframes zoom-hover-reverse {
  0%  { padding: 1.5vw; }
  40% { padding: 0.8vw; }
  100%{ padding: 1vw; }
}
@keyframes bounce-text {
  0%  { font-size: 4vh; }
  40% { font-size: 5.5vh; }
  100%{ font-size: 5vh; }
}
@keyframes bounce-text-reverse {
  0%  { font-size: 5vh; }
  40% { font-size: 3.5vh; }
  100%{ font-size: 4vh; }
}
@keyframes backpage {
  from { 
    width: 0vw; 
    height: 0vh;
    padding: 0;
  }
  to { 
    width: 101vw; 
    height: 101vh; 
    margin: 0;
  }
}
@keyframes fade {
  from{opacity: 0;}
  to{opacity: 100;}
}
/* == */

a { text-decoration: none; }

.body {

  height: 100vh;

  display: grid;

  justify-content: center;
  align-content: center;

  background-color: white;

  font-family: 'Source Code Pro', monospace;

  margin: 0;

}

.backbtn {

  animation: zoom-hover-reverse 350ms ease-out, rotate 5000ms 200ms infinite linear;
  cursor: pointer;
  
}

.backbtn, .backpage, .loadpage {

  position: fixed;

  left: 0;

  background-color: white;
  border-radius: 5px;
  
  z-index: 100;

  padding: 1vw;
  margin: 15px;

}

.backbtn:hover {
  animation: zoom-hover 350ms forwards ease-out, rotate 10000ms infinite linear;
}

.loadpage {
  animation: backpage 200ms forwards ease-out reverse;
}

.backpage {
  animation: backpage 200ms forwards ease-out;
}
